* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

.profile-image {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.header2 ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    background-color: black;
    padding: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    font-size: 16px;
    
}

.header2 li  {
   
    border-right: 1px solid white;
}

.header2 li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 9px;
    border-radius: 0px;
    transition: all 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
  
}

.header2 li a:hover {
    background-color: #fb980a;
    color: #F7F7F7;
}

.content h2 {
    margin-bottom: 10px;
}

.content p {
    line-height: 1.5;
    margin-bottom: 20px;
}