<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>resumes Writing Tips</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: rgb(243, 246, 247);
      }
      td {
        padding: 20px;
      }
      tr:nth-child(even) {
        background-color: antiquewhite;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="nav" style="background-color: aqua">
        <ul
          style="
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            padding: 10px;
            height: 100px;
            align-items: center;
          "
        >
          <li>
            <img src=".png" style="width: 60px; margin-bottom: 10px" />
          </li>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
          <li>Login</li>
          <li>Sign Up</li>
        </ul>
      </div>
      <h2 style="text-align: center">Resumes Writing Tips</h2>
      <div class="subpart" style="display: flex; justify-content: space-around">
        <h4>
          Resumes are the first direct link between an employee and a potential
          employee
        </h4>
        <img src="5.png" style="width: 100px" />
        <h4>
          Employers would only allocate 4.5 mins before he or she makes a verdict
        </h4>
      </div>
      <table style="width: 100%">
        <thead></thead>
        <tbody>
          <tr>
            <td><img src="2.png" style="width: 40px" /></td>
            <td>Formate your resume</td>
            <td>
              Make it easy to understand,use wide margins,logical
              formate,utilized bullets, bold and italic fonts
            </td>
          </tr>
          <tr>
            <td><img src="6.png" style="width: 40px" /></td>
            <td>Include the accomplishments</td>
            <td>
              You must always include how you can beneficial to the company
            </td>
          </tr>
          <tr>
            <td><img src="3.jpg" style="width: 40px" /></td>
            <td>Make your resume suitable for the industry</td>
            <td>
              For an engineering or academic related position,make things simple
              and direct to the point
            </td>
          </tr>
          <tr>
            <td><img src="1.jpg" style="width: 40px" /></td>
            <td>Career summary instead of objectives</td>
            <td>
              You can replace your 'Objectives' section with a 'Career Summary' so
              that you can give an overview of who you truly are
            </td>
          </tr>
          <tr>
            <td><img src="4.png" style="width: 40px" /></td>
            <td>Use youe network</td>
            <td>
              Stay connected with a lot of people especially those who are
              related to the insudtry you wish to enter
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="footer"
      style="
        background-color: darkcyan;
        display: flex;
        justify-content: center;
        bottom: 0;
      "
    >
      <ul
        style="
          display: flex;
          text-decoration: none;
          list-style-type: none;
          gap: 30px;
          padding: 30px;
        "
      >
        <li>lms.uiu.ac.bd</li>
        <li>facebook.com</li>
      </ul>
    </div>
  </body>
</html>
