
	
	/* Style for the header */
	.header {
		position: fixed;
		top: 0;
		left: 5%;
		width: 90%;
		margin: auto;
		background-color: #fb980a;
		color: #fff;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 999;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	/* Style for the logo */
	.logo {
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	/* Style for the menu */
	.menu {
		display: flex;
		align-items: center;
	}

	.menu a {
		color: #333;
		margin: 0 10px;
		text-decoration: none;
		font-weight: bold;
		transition: all 0.3s ease-in-out;
		position: relative;
		letter-spacing: 20px;
		text-align: center;
	}

	.menu a:hover {
		color:#333;
	}

	.menu a::before {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: #333;
		transform: scaleX(0);
		transform-origin: left;
		transition: all 0.3s ease-in-out;
		color:#333;
	}

	.menu a:hover::before {
		transform: scaleX(0.6);
		background-color: white;
	}

	/* Style for the profile */
	.profile {
		display: flex;
		align-items: center;
	}

	.profile img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
	}

	.logout-btn {
		background-color: red;
		color: #fff;
		padding: 5px 10px;
		border-radius: 5px;
		text-decoration: none;
		margin-left: 10px;
		font-size: 14px;
	}

	.logout-btn:hover {
		background-color: #ff5733;
		color: #fff;
		padding: 5px 10px;
		border-radius: 5px;
		text-decoration: none;
		margin-left: 10px;
		font-size: 14px;
	}

	/* Style for the container */
	.container {
		width: 90%;
		margin: 100px auto;
		font-size: 20px;
		line-height: 1.5;
		background-color: #f8f9fa;
	}
    .welcome_message {
        margin-top:15%;
        margin-left: 18%;
        margin-right: 18%;
    }

 
	/* Media queries for mobile devices */
	@media only screen and (max-width: 880px) {
		.header {
			left: 0;
			width: 100%;
			padding: 10px;
			flex-wrap: wrap;
		}
        .welcome_message {
            margin-top:50%;
        }
		
    

		.logo {
			margin: 0 auto;
		}

		.menu {
			width: 100%;
			justify-content: center;
			margin-top: 10px;
		}

		.menu a {
			margin: 0 5px;
			letter-spacing: 12px;
		}

		.profile {
			width: 100%;
			justify-content: center;
			margin-top: 15px;
			
		}
		.container {
			width: 90%;
			margin: 100px auto;
			font-size: 20px;
			line-height: 1.5;
			background-color: #f8f9fa;
			
		}
	}

